.DS_Store
App Store/.DS_Store
Icons/.DS_Store
MaroonToken.xcodeproj/project.xcworkspace/xcuserdata
MaroonToken.xcodeproj/xcuserdata
MaroonToken/.DS_Store
PSD/.DS_Store
PSD/App Icon Template [3.3]/.DS_Store